.infoma {
    margin: 0;
    padding: 20px;
   
    list-style: none;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}
 .infoma ui {
      display: flex;
    justify-content: space-around;
    width: 50rem;
    border: 2px solid rgb(0, 0, 0);
 }