.infoma {
    margin: 0;
    padding: 20px;
    color: white;
    background-color: black;
    list-style: none;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}
 .infoma ui {
      display: flex;
    justify-content: space-between;
    width: 50rem;
    border: 2px solid rgb(218, 0, 0);
 }