.CStyle ui {
   


      display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 530px;
    font-size: 22px; 
    border: 1px solid rgb(255, 5, 5);
    background-color: rgba(22, 228, 228, 0.359);
}
.CStyle li a {
    text-decoration: none;
        
        color: rgb(255, 0, 217);
        
       
        

}